.prefix_1
  .grid_5.box
    %h2 Logowanie
    = form_tag sessions_path do

      = label_tag :user_name, "Login", :class => 'grid_2 alpha'
      = text_field_tag :user_name, nil, :class => 'grid_2 omega'

      .vertical_spacer

      = label_tag :password, "Hasło", :class => 'grid_2 alpha'
      = password_field_tag :password, nil, :class => 'grid_2 omega'

      .vertical_spacer

      = label_tag :remember_me, "Zapamiętaj mnie", :class => 'grid_2 alpha'
      = check_box_tag :remember_me, true, false, :class => 'grid_2 omega'

      .grid_2.alpha.prefix_3
        = submit_tag "Zaloguj"
