= form_for @favourite do |f|

  .item_box
    = f.label :name, 'Nazwa' 
    = f.text_field :name

  .item_box
    = f.label :station_from, 'Przystanek odjazdowy' 
    = f.text_field :station_from,
                   :autocomplete => search_schedule_autocomplete_station_name_path

    = f.label :station_to, 'Przystanek docelowy' 
    = f.text_field :station_to,
                   :autocomplete => search_schedule_autocomplete_station_name_path

  .item_box
    %input{:name => 'favourite[on_start_page]', :type => 'hidden', :value => '0'}
    = f.label :on_start_page, 'Pokaż na stronie startowej'
    = check_box_tag 'favourite[on_start_page]', '1', @favourite.on_start_page

  = f.submit 'Zapisz', :class => 'button'
