%div{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    %li
      = link_to "z #{@favourite.station_from} do #{@favourite.station_to}",
        search_schedule_search_path(:station_from => @favourite.station_from,
                                    :station_to => @favourite.station_to,
                                    :from_station => 'true') 
    %li
      = link_to "z #{@favourite.station_to} do #{@favourite.station_from}",
        search_schedule_search_path(:station_from => @favourite.station_to,
                                    :station_to => @favourite.station_from,
                                    :from_station => 'true') 
