%html
  %head
    %script{:src => "javascripts/jqtouch/jquery.1.3.2.min.js"}
    %script{:src => "javascripts/jqtouch/jqtouch.min.js"}
    = stylesheet_link_tag 'javascripts/jqtouch/jqtouch.min.css'
    = stylesheet_link_tag 'javascripts/themes/jqt/theme.min.css'
    %script{:src => "javascripts/home.js"}
  %body
    %div#home
      %div.toolbar
        %h1 My App
        %ul.rounded
          %li= link_to "foo", "#foo"
          %li= link_to "bar", "#bar"
      %div#foo
        %div.toolbar
          %h1 Foo
          %li= link_to "back", "#"
