%html
  %head
    %script{:src => "http://www.google.com/jsapi"}
    %script{:src => "stylesheets/jqtouch/jquery.1.3.2.js"}
    %script{:src => "stylesheets/jqtouch/jqtouch.js"}
    = stylesheet_link_tag 'jqtouch/jqtouch.css'
    = stylesheet_link_tag 'themes/apple/theme.css'
    %script{:src => "javascripts/home.js"}
  %body
    %div#home
      %div.toolbar
        %h1 Chcę do:
      %ul.rounded
        %li= link_to "Dom", "#Dom"
        %li= link_to "Praca", "#Praca"

    %div#Dom
      %div.toolbar
        %h1 Dom
      %ul.rounded
        %li Jesteś w pracy:
      %div.whiteButton
        %li= link_to "RYNEK WIELUŃSKI", "#p0341", :class => 'flip'
      %br
        %ul.rounded
          %li Jest teraz:
          = @time
          %br          
          %li Najbliższy autobus:
          /   Pokazuje pozostały czas do przyjazdu.
          = countdown_schedule(@favourites.first)
        %ul= link_to "back", "#home", :class => 'back'
    
    %div#p0341
      %div.toolbar
        %h1 RYNEK WIELUŃSKI
      %ul.rounded
      - @favourites.each do |favourite|
        = link_to "#{favourite.line.number} o #{favourite.arrival_at.strftime("%H:%M")}"

    %div#Praca
      %div.toolbar
        %h1 Praca
      %ul.rounded
        %li= link_to "back", "#home", :class => 'back'
        
/ TIP: - dodać sztywne geolokalizacje dla miejsc: praca - rynek wieluński, dom - coś?
/      - dodać w 'Dom' dane tj: za ile najbliższy autobus [do domu]; z jakiego przystanku?; jaka linia;
/      - niezbędne: bierząca godzina, przeszukanie bazy lini i wyszukanie rekordu z najbliższą godziną przyjazdu autobusu
/      - opcja: mapka z oflagowaną lokalizacją: JESTEM TUTAJ!