%div#home
  %div.toolbar
    %h1 Rozkład
  %ul.rounded
    %li= link_to "Wyszukaj połączenie", "#finder", :class => "slide up"
    %li= link_to "Ulubione", "#favourites"
  %h2 Ogłoszenie
  %ul.rounded
    %li Przykładowy tekst. rozkład.czest.pl

%div#finder
  %div.toolbar
    %h1 Wyszukaj
  %ul.rounded
    = form_tag :action => 'reverse', :update => 'find_results', :url => { :action => 'schedule_finder' }
    %li
      = text_field_tag "find_from", "Z"
    %li
      = text_field_tag "find_to", "Do"
    %li
      = submit_tag "Wyszukaj"
  %li{:id => 'find_results'}
        

  
%div#favourites
  %div.toolbar
    %li= link_to "Wstecz", "#home", :class => 'back'
    %h1 Ulubione
    %li= link_to "Dodaj", "#addToFavourites", :class => "button slideup"
  %ul.rounded

      
      

/ $("#finder1").attr('value')
  
  
/ %div#Dom
/   %div.toolbar
/     %h1 Praca - Dom
/     %li= link_to "back", "#home", :class => 'back'
/     %div{:style => "display:none;"}
/       #count_until_year= Time.now.year
/       #count_until_month= Time.now.month
/       #count_until_day= Time.now.mday
/       #count_until_hour1= @favourites[0].arrival_at.strftime("%H")
/       #count_until_minute1= @favourites[0].arrival_at.strftime("%M")
/       #count_until_hour2= @favourites[1].arrival_at.strftime("%H")
/       #count_until_minute2= @favourites[1].arrival_at.strftime("%M")
/   %ul.rounded
/     %li
/       %span= "#{@favourites.first.line.number} za" 
/       %span{:id => "firstCountdown"}
/       %span= "(#{@favourites.first.arrival_at.strftime("%H:%M")})"
/     %li
/       %span= "#{@favourites[1].line.number} za" 
/       %span{:id => "secondCountdown"}
/       %span= "(#{@favourites[1].arrival_at.strftime("%H:%M")})"
/     - @favourites[2..4].each do |fav|
/       %li= "#{fav.line.number} o #{fav.arrival_at.strftime("%H:%M")}"
/     
/ %div#Praca
/   %div.toolbar
/     %li= link_to "back", "#home", :class => 'back'
/     %h1 Praca
/   %ul.rounded    
/ TIP: - dodać sztywne geolokalizacje dla miejsc: praca - rynek wieluński, dom - coś?
/      - dodać w 'Dom' dane tj: za ile najbliższy autobus [do domu]; z jakiego przystanku?; jaka linia;
/      - niezbędne: bierząca godzina, przeszukanie bazy lini i wyszukanie rekordu z najbliższą godziną przyjazdu autobusu
/      - opcja: mapka z oflagowaną lokalizacją: JESTEM TUTAJ!