%html
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:src => "http://www.google.com/jsapi"}
    %script{:src => "stylesheets/jqtouch/jquery.1.3.2.js"}
    %script{:src => "stylesheets/jqtouch/jqtouch.js"}
    = stylesheet_link_tag 'jqtouch/jqtouch.css'
    = stylesheet_link_tag 'themes/apple/theme.css'
    %script{:src => "javascripts/home.js"}
    %script{:src => "javascripts/jquery.countdown.js"}
    %script{:src => "javascripts/counter.js"}
    = stylesheet_link_tag 'jqcountdown/jquery.countdown.css'
    %script{:src => "javascripts/jquery.countdown-pl.js"}
  %body
    %div#home
      %div.toolbar
        %h1 Chcę do:
      %ul.rounded
        %li= link_to "Dom", "#Dom"
        %li= link_to "Praca", "#Praca"

    %div#Dom
      %div.toolbar
        %h1 Dom
      %ul.rounded
        %li Jesteś w pracy:
      %div.whiteButton
        %li= link_to "RYNEK WIELUŃSKI", "#p0341", :class => 'flip'
      %br
        %ul.rounded
          %br          
          %li Najbliższy autobus:
          / Pokazuje pozostały czas do przyjazdu.
          #count_until_year= Time.now.year
          #count_until_month= Time.now.month
          #count_until_day= Time.now.mday
          #count_until_hour= @favourites.first.arrival_at.strftime("%H")
          #count_until_minute= @favourites.first.arrival_at.strftime("%M")
          #count_until_second= @favourites.first.arrival_at.strftime("%S")
          / div dla skryptu countera
          %div{:id => "firstCountdown"}
        %ul= link_to "back", "#home", :class => 'back'
    
    %div#p0341
      %div.toolbar
        %h1 RYNEK WIELUŃSKI
      %ul.rounded
      - @favourites.each do |favourite|
        = link_to "#{favourite.line.number} o #{favourite.arrival_at.strftime("%H:%M")}"
      %ul= link_to "back", "#Dom", :class => 'back'

    %div#Praca
      %div.toolbar
        %h1 Praca
      %ul.rounded
        %li= link_to "back", "#home", :class => 'back'
        
/ TIP: - dodać sztywne geolokalizacje dla miejsc: praca - rynek wieluński, dom - coś?
/      - dodać w 'Dom' dane tj: za ile najbliższy autobus [do domu]; z jakiego przystanku?; jaka linia;
/      - niezbędne: bierząca godzina, przeszukanie bazy lini i wyszukanie rekordu z najbliższą godziną przyjazdu autobusu
/      - opcja: mapka z oflagowaną lokalizacją: JESTEM TUTAJ!

/ $('#count_until_year').text(), $('#count_until_month').text(), $('#count_until_day').text(), $('#count_until_hour').text(), $('#count_until_minute').text(), $('#count_until_second').text()