- if current_user
  .prefix_1
    .grid_5.box
      %h2= "Zalogowany jako #{current_user.user_name}"
      %ul
        %li
          %b= link_to "Wyloguj", log_out_path
        %li
          %b= link_to_function 'Odśwież położenie', 'getLocation();'
- else
  = render :template => 'sessions/new'
  = render :template => 'users/new'

- unless @favourites.empty?
  .grid_5.box
    %h2 Ulubione
    %ul{'data-role' => 'listview'}
      - @favourites.each do |favourite|
        %li= link_to favourite.name, search_schedule_search_path(:station_from => favourite.station_from, :station_to => favourite.station_to, :from_station => 'true')

- if session[:lat].nil?
  :javascript
    $(
      navigator.geolocation.getCurrentPosition(
        function(position){
          var lat = position.coords.latitude;
          var lng = position.coords.longitude;
          $.ajax({
            type: 'POST',
            url: '/pages/get_location',
            data: 'lat=' + lat + '&lng=' + lng
          });
        }
      )
    )
