#new_search
  #content
    #search_form
      %h1 Szukaj Połączenia
      - form_tag '/search' do
        .field
        = label_tag 'from_search_schedule', "Z" 
        = text_field_tag 'from_search_schedule'
        .field
        = label_tag 'to_search_schedule', "Do"
        = text_field_tag 'to_search_schedule'
        .vspacer
        .submit
        = submit_tag 'Szukaj'
