<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
    - if session[:mobile]
      = stylesheet_link_tag 'mobile', 'jquery.mobile.css', 'jquery.ui.css'
      = javascript_include_tag :defaults,
                               'jquery.mobile.js',
                               'jquery.ui.js',
                               'autocomplete-rails.js',
                               'http://maps.google.com/maps/api/js?sensor=true'
    - else
      = stylesheet_link_tag '960', 'reset', 'text', 'desktop', 'jquery.ui.css'
      = javascript_include_tag :defaults,
                               'jquery.ui.js',
                               'autocomplete-rails.js',
                               'http://maps.google.com/maps/api/js?sensor=true'
    = csrf_meta_tag
  %body{:onload => current_action?('map') ? 'getMap();' : nil}
    %div{'data-role' => 'page'}
      .container_12{'data-role' => 'header'}
        - unless session[:mobile]
          #logo
            .grid_6.prefix_4{:style => 'margin-top: 4em;'} 
              %h1{:style => 'margin-bottom:0;'} Rozklad.czest.pl
              #desc Najlepszy serwis wyszukujący połączenia między przystankowe.
        %div{'data-role' => 'navbar'}
          %ul
            %li= link_to 'INDEX', root_path, :rel => 'external'
            %li= link_to 'SZUKAJ', search_schedule_new_search_path, :rel => 'external'
            - if current_user
              %li= link_to 'ULUBIONE', user_favourites_path(current_user.id), :rel => 'external'
            %li= link_to 'MAPA', pages_static_map_path, :rel => 'external'
            %li= link_to 'PRZYSTANKI', schedules_stations_path, :rel => 'external'
      .container_12{'data-role' => 'content'}
        = yield
