<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ui-darkness/jquery-ui-1.8.4.custom.css'

    = javascript_include_tag 'jquery-1.4.2.min.js'
    = javascript_include_tag 'jquery-ui-1.8.4.custom.min.js'
    %title Rozklad.czest.pl
  %body
    = render :partial => 'layouts/header' 
    .vspacer3
    #main
      = yield
    .vspacer3
    = render :partial => 'layouts/footer'
