<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
    - if session[:mobile]
      = stylesheet_link_tag 'mobile', 'jquery.mobile.css', 'jquery.ui.css'
      = javascript_include_tag :defaults,
                               'jquery.mobile.js',
                               'jquery.ui.js',
                               'autocomplete-rails.js',
                               'http://maps.google.com/maps/api/js?sensor=true'
    - else
      = stylesheet_link_tag 'desktop', 'jquery.ui.css'
      = javascript_include_tag :defaults,
                               'jquery.ui.js',
                               'autocomplete-rails.js',
                               'http://maps.google.com/maps/api/js?sensor=true'
    = csrf_meta_tag
  %body{:onload => current_action?('map') ? 'getMap();' : nil}
    %div{'data-role' => 'page', 
      :style => current_action?('map') ? 'width: 100%; height: 100%;' : nil,
      :class => current_action?('map') ? 'page-map' : nil}
      %div{'data-role' => 'header'}
        = image_tag 'autobus.jpg'
        %div{'data-role' => 'navbar'}
          %ul
            %li= link_to 'Index', root_path, :rel => 'external'
            %li= link_to 'Szukaj', search_schedule_new_search_path, :rel => 'external'
            %li= link_to 'Ulubione', favourites_path, :rel => 'external'
            %li= link_to 'Mapa', pages_static_map_path, :rel => 'external'
      = yield
